In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [3]:
df.head() # first 5 row

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"])

In [5]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
df.tail(2) #bottom 2

   A  B  C
1  4  5  6
2  7  8  9

In [8]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
# lhs 0 1 2 are index
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.index.tolist()

[0, 1, 2]

In [11]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["a","b","c"],index=["x","y","z"])

In [12]:
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [13]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes

In [15]:
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [16]:
df.nunique()

a    3
b    3
c    3
dtype: int64

In [17]:
df['a'].nunique()

3

In [18]:
df['a'].unique()

array([1, 4, 7], dtype=int64)

In [20]:
df.shape

(3, 3)